.container {
    max-width: 960px;
    margin: 0 auto;
    z-index: 5;
}

.header {
    background: #FFFFFF;
    height: 80px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo-container a {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
}

.menu {
    display: flex;
    list-style-type: none;   z-index: 5;
}

.menu li {
    padding-right: 2rem;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 480px) {

    .mobile-menu {
        display: block;
        color:#000;
        font-size: 2rem;

    }
    .header {
        padding: 0 2rem;
    }
    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 64px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
        background: #FFFFFF;
    }
    .menu.active {
        left: 0;
        opacity: 1;
        z-index: 1;
        padding-left: 50; 
        align-content: center;
        transition: 0.5s ease;
        background: #FFFFFF;
    }
    .menu-li {
padding-right: 0;

    }
    .menu-link{
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 10vw;
padding: 10px 0;
    }
}